@tailwind base;
@tailwind components;

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v9-latin-regular.woff")
}

#nav-menu li {
  animation: slide-down 0.2s ease-in-out;
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.grid-item {
  animation: slide-down 0.4s ease-in-out;
}

.type-select:checked + label {
  border: 1px solid hsla(0, 17%, 52%, 0.9);
  box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.418);
}


.filter-label {
  @apply block font-semibold rounded mt-1 px-2 cursor-pointer;
}

/* .filter-label:hover {
  border: 1px solid hsla(0, 17%, 52%, 0.462);
} */

.grid-item:hover {
  box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.418);
}

.card-main img {
  filter: opacity(0.75);
}

.modal {
  transition: opacity 0.25s ease;
}

.modal-content {
  max-height: calc(100vh - 210px);
}

.card-main {
  @apply bg-red-800 rounded-lg overflow-hidden m-4 mb-6 shadow-md;
}

.card-data-top {
  @apply inline-block bg-red-700 text-xs px-2 -ml-1 rounded-full uppercase 
         font-semibold tracking-wide shadow;
}

.card-data-main {
  @apply font-semibold mt-1;
}

.card-data-bottom {
  @apply inline-block bg-red-900 rounded-full px-2 py-1 text-xs font-bold 
       text-red-300 mt-2 mr-2 leading-snug tracking-tight shadow;
}

.btn-top {
  background: #792d2da4;
  position: fixed;
  right: 1.2em;
  bottom: 1.2em;
  display: block;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0 1.2em;
  border: 1px solid #d1a2a2b6;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 44px;
}

.arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 18px;
      margin-left: -9px;
      margin-top: -5px;
      cursor: pointer;
    }

.up:hover polyline,
.up:focus polyline {
stroke-width: 15;
}

.up:active polyline {
stroke-width: 15;
transition: all 100ms ease-in-out;
}

.fadein{
  display: inline-block;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 100;
}

.fadeout {
  display: none;
  /* opacity: 0; */
  /* transition: opacity 0.2s linear; */
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@tailwind utilities;
